<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">${jdbc.driverClassName}</property>
		<property name="connection.url">${jdbc.url}</property>
		<property name="connection.username">${jdbc.username}</property>
		<property name="connection.password">${jdbc.password}</property>
		<property name="current_session_context_class">thread</property>
		<property name="dialect">${hibernate.dialect}</property>
		<property name="show_sql">${hibernate.show_sql}</property>
		<property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>
	</session-factory>
</hibernate-configuration>

