<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">  
    <modelVersion>4.0.0</modelVersion>  
    <parent> 
        <groupId>$Project.groupId</groupId>  
        <artifactId>${Project.artifactId}-WS</artifactId>  
        <version>$Project.version</version> 
    </parent>  
    <groupId>$Project.groupId</groupId>
	<artifactId>${Project.name}-war</artifactId>
	<version>$Project.version</version>
    <name>WAR-WS</name>  
    <packaging>war</packaging>  
    <url>http://maven.apache.org</url>  
    <properties> 
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>  
        <project.type>war</project.type>
    </properties>  
    <dependencies>
    
#foreach ($dependency in $Dependencys)
  		<dependency>
			<groupId>$dependency.groupId</groupId>
	        <artifactId>${dependency.artifactId}-WS</artifactId>
	        <version>$dependency.version</version>
		</dependency>
#end
        <dependency> 
            <groupId>junit</groupId>  
            <artifactId>junit</artifactId>  
            <version>4.8.1</version>  
            <scope>test</scope> 
        </dependency>
        
        <!-- spring的实现 -->  
        <dependency>
	      <groupId>org.springframework</groupId>
	      <artifactId>spring-webmvc</artifactId>
	      <version>3.1.2.RELEASE</version>
        </dependency>
      
        <!-- 加入对dayatang的spring的实现 -->
		<dependency>
			<groupId>com.dayatang.commons</groupId>
			<artifactId>dayatang-commons-spring</artifactId>
			<version>${dayatang.commons.version}</version>
		</dependency>
		
		<dependency>
           <groupId>org.apache.cxf</groupId>
           <artifactId>cxf-rt-frontend-jaxws</artifactId>
           <version>2.6.2</version>
        </dependency>

        <!-- 对ws security 的依赖 -->
		<dependency>
			<groupId>org.openkoala.koala</groupId>
			<artifactId>wsSecurity-applicationImpl</artifactId>
			<version>${koala.version}</version>
		</dependency>
		<dependency>
			<groupId>org.openkoala.koala</groupId>
			<artifactId>wsSecurity-authJdbcImpl</artifactId>
			<version>${koala.version}</version>
		</dependency>
		<dependency>
			<groupId>org.openkoala.koala</groupId>
			<artifactId>wsSecurity-ss3Adapter</artifactId>
			<version>${koala.version}</version>
		</dependency>
		
			<dependency>
				<groupId>org.openkoala.koalacommons</groupId>
	            <artifactId>koala-commons-cache</artifactId>
	        </dependency>

		<dependency>
			<groupId>org.apache.struts</groupId>
			<artifactId>struts2-spring-plugin</artifactId>
		</dependency>

		<dependency>
			<groupId>org.apache.struts</groupId>
			<artifactId>struts2-json-plugin</artifactId>
		</dependency>

		<dependency>
			<groupId>org.apache.geronimo.specs</groupId>
			<artifactId>geronimo-servlet_2.5_spec</artifactId>
			<version>1.2</version>
			<scope>provided</scope>
		</dependency>
        
    </dependencies>  
    <build> 
        <plugins> 
            <!-- 配置加入jetty服务器，开发时我们一般使用jetty服务器 -->  
            <plugin> 
                <groupId>org.mortbay.jetty</groupId>  
                <artifactId>jetty-maven-plugin</artifactId>  
                <configuration> 
                    <scanIntervalSeconds>10</scanIntervalSeconds>  
                    <webApp> 
                        <contextPath>/</contextPath> 
                    </webApp> 
                </configuration> 
            </plugin> 
        </plugins> 
    </build> 
</project>
