<?xml version="1.0" encoding="UTF-8"?>

<XmlParse>
	<!-- 指定此功能的名称 -->
	<property name="description">log4j</property>
	
	<!-- 渲染此功能需要生成的模板 -->
	<VelocityFileObject>
		<property name="vm">vm/module/log4j/log4j.xml.vm</property>
		<property name="path">${Project.path}/${Project.appName}/${Module.moduleName}/src/main/resources/log4j.xml</property>
	</VelocityFileObject>
	
</XmlParse>