.DS_Store
.settings
.project
.classpath
target
.idea
*.iml
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/bin
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm1.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog
