.DS_Store
.settings
.project
.classpath
target
.idea
*.iml
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/bin
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm1.tlog
/koala-bpm/koala-jbpm-core/koala-jbpm-core-war/btm2.tlog

/koala-opencis/koala-opencis-jekins/logs
/koala-opencis/koala-opencis-jekins/bin

/koala-opencis/koala-opencis-trac/bin
/koala-opencis/koala-opencis-sonar/bin
