/*
日期组件
*/
.input-group .add-on {
    display:table-cell;
    width:auto;
    height:20px;
    min-width:16px;
    padding:4px 5px;
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    text-align:center;
    text-shadow:0 1px 0 #ffffff;
    background-color:#eeeeee;
    border:1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
}
.datetimepicker{
    width:250px;
    margin-top:1px;
    z-index:3000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    background-color:#ffffff;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.2);
    *border-right-width:2px;
    *border-bottom-width:2px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}
.datetimepicker:before {
    content:'';
    display:inline-block;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid#ccc;
    border-bottom-color:rgba(0, 0, 0, 0.2);
    position:absolute;
    top:-7px;
    left:6px
}
.datetimepicker:after {
    content:'';
    display:inline-block;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:6px solid#fff;
    position:absolute;
    top:-6px;
    left:7px
}
.datetimepicker a {
    cursor: pointer;
}
.datetimepicker .pull-right:before {
    left:auto;
    right:6px
}
.datetimepicker .pull-right:after {
    left:auto;
    right:7px
}
.datetimepicker > ul {
    list-style-type:none;
    margin:0
}
.datetimepicker > ul > li{
    margin-left:-40px;
}
.datetimepicker table[data-hour-format = "12"].separator {
    width:4px;
    padding:0;
    margin:0
}

.datetimepicker .datepicker > div {
    display:none
}
.datetimepicker .picker-switch {
    text-align:center;
    height:24px;
}
.datetimepicker .picker-switch:hover {
    background:#0081c2;
}
.datetimepicker table {
    width:100% ;
    margin:0
}
.datetimepicker td,
.datetimepicker th {
    text-align:center;
    width:20px;
    height:20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.datetimepicker td.day:hover,
.datetimepicker td.hour:hover,
.datetimepicker td.minute:hover,
.datetimepicker td.second:hover {
    background:#eee;
    cursor:pointer
}
.datetimepicker td.old,
.datetimepicker td.new {
    color:#999
}
.datetimepicker td.active,
.datetimepicker td.active:hover {
    color:#fff;
    background-color:#006dcc;
    background-image:-moz-linear-gradient(top, #08c, #04c);
    background-image:-webkit-gradient(linear, 0 0, 0 100% , from(#08c), to(#04c));
    background-image:-webkit-linear-gradient(top, #08c, #04c);
    background-image:-o-linear-gradient(top, #08c, #04c);
    background-image:linear-gradient(to bottom, #08c, #04c);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
    border-color:#04c#04c#002a80;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    * background-color:#04c;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color:#fff;
    text-shadow:0-1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker td.active:hover,
.datetimepicker td.active:hover:hover,
.datetimepicker td.active:active,
.datetimepicker td.active:hover:active,
.datetimepicker td.active.active,
.datetimepicker td.active:hover.active,
.datetimepicker td.active.disabled,
.datetimepicker td.active:hover.disabled,
.datetimepicker td.active[disabled],
.datetimepicker td.active:hover[disabled] {
    color:#fff;
    background-color:#04c;
    * background-color:#003bb3
}
.datetimepicker td.active:active,
.datetimepicker td.active:hover:active,
.datetimepicker td.active.active,
.datetimepicker td.active:hover.active {
    background-color:#039\9
}
.datetimepicker td.disabled,
.datetimepicker td.disabled:hover {
    background:0;
    color:#999;
    cursor:not-allowed
}
.datetimepicker td span {
    display:block;
    width:47px;
    height:54px;
    line-height:54px;
    float:left;
    margin:2px;
    cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;
    border-radius:4px
}

.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-hour,
.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-minute,
.datetimepicker .timepicker .timepicker-picker .table-condensed .timepicker-second {
    width:100% ;
    font-weight:bold;
    font-size:1.2em
}

.datetimepicker td span:hover {
    background:#eee
}

.datetimepicker td span.active {
    color:#fff;
    background-color:#006dcc;
    background-image:-moz-linear-gradient(top, #08c, #04c);
    background-image:-webkit-gradient(linear, 0 0, 0 100% , from(#08c), to(#04c));
    background-image:-webkit-linear-gradient(top, #08c, #04c);
    background-image:-o-linear-gradient(top, #08c, #04c);
    background-image:linear-gradient(to bottom, #08c, #04c);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
    border-color:#04c#04c#002a80;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); * background-color:#04c;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color:#fff;
    text-shadow:0-1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker td span.active:hover,
.datetimepicker td span.active:active,
.datetimepicker td span.active.active,
.datetimepicker td span.active.disabled,
.datetimepicker td span.active[disabled] {
    color:#fff;
    background-color:#04c; * background-color:#003bb3
}
.datetimepicker td span.active:active,
.datetimepicker td span.active.active {
    background-color:#039\9
}
.datetimepicker td span.old {
    color:#999
}
.datetimepicker td span.disabled,
.datetimepicker td span.disabled:hover {
    background:0;
    color:#999;
    cursor:not-allowed
}

.datetimepicker td span.month,
.datetimepicker td span.year{
    width: 55px;
}

.datetimepicker th.switch {
    width:145px
}
.datetimepicker th.next,
.datetimepicker th.prev {
    font-size:21px
}
.datetimepicker th.disabled,
.datetimepicker th.disabled:hover {
    background:0;
    color:#999;
    cursor:not-allowed
}
.datetimepicker thead tr:first-child th {
    cursor:pointer
}
.datetimepicker thead tr:first-child th:hover {
    background:#eee
}

.datetimepicker .left-oriented:before {
    left:auto;
    right:6px
}
.datetimepicker .left-oriented:after {
    left:auto;
    right:7px
}
.icon-calendar {
    background-position:-192px -120px;
}
.icon-time {
    background-position:-48px -24px;
}