package org.openkoala.sample.process;

import java.io.IOException;
import java.io.StringReader;

import org.drools.KnowledgeBase;
import org.drools.KnowledgeBaseConfiguration;
import org.drools.KnowledgeBaseFactory;
import org.drools.builder.KnowledgeBuilder;
import org.drools.builder.KnowledgeBuilderFactory;
import org.drools.builder.ResourceType;
import org.drools.compiler.DroolsParserException;
import org.drools.conf.EventProcessingOption;
import org.drools.io.ResourceFactory;
import org.drools.runtime.StatefulKnowledgeSession;
import org.drools.runtime.rule.WorkingMemoryEntryPoint;

public class DroolsFusionSample {
   public static void main(String[] args){
	    StringBuffer sb = new StringBuffer("");
	    try {
	        sb.append("package org.openkoala.sample\n");
	        sb.append("import org.openkoala.sample.fusionrule.DownGuest;\n");
	        sb.append("import org.openkoala.sample.fusionrule.TaskInfo;\n");

	        sb.append("declare DownGuest\n");
	        sb.append("	  @role( event )\n");
	        sb.append("end\n");

	        sb.append("declare TaskInfo\n");
	        sb.append("   @role( event )\n");
	        sb.append("end\n");

	        sb.append("rule \"计划任务创建\" \n");
	        sb.append("when\n");
	        sb.append("  downGuest:DownGuest(airPlanType=='319',flight matches 'CAN-PEK、CAN-URC.*',flightType=='国内',visitingRate==80,parkingStand=='廊桥机位',checkInGate=='廊桥登机口',validBegin=='2012-10-08',validEnd=='2012-10-12') from entry-point \"flight stream\"\n");
	        sb.append("then\n"); 
	        sb.append("  System.out.println(\"计划任务创建... ... ...\");\n"); 
	        sb.append("end\n"); 

	        sb.append("rule \"计划任务执行监控\"\n"); 
	        sb.append("when\n"); 
	        sb.append("  TaskInfo(iDuration>4,bf_beginTime>2) from entry-point \"taskInfo stream\"\n"); 
	        sb.append("then\n"); 
	        sb.append("  System.out.println(\"任务执行预警... ... ...\");\n");  
	        sb.append("end \n");
	        PackageBuilderDrlByStr(sb);
	    }catch(Throwable t){
	    	t.printStackTrace();
	    }
	   
   }
	private static void PackageBuilderDrlByStr(StringBuffer sb) throws DroolsParserException, IOException{
	    KnowledgeBuilder kBuilder = KnowledgeBuilderFactory.newKnowledgeBuilder();
	    kBuilder.add(ResourceFactory.newReaderResource(new StringReader(sb.toString())), ResourceType.DRL);
		 if (kBuilder.hasErrors()) {
	         System.err.print(kBuilder.getErrors());
	    }
	    KnowledgeBaseConfiguration kconfig = KnowledgeBaseFactory.newKnowledgeBaseConfiguration();
	    kconfig.setOption(EventProcessingOption.STREAM);
	    KnowledgeBase kBase = KnowledgeBaseFactory.newKnowledgeBase(kconfig);
	    kBase.addKnowledgePackages(kBuilder.getKnowledgePackages());
	    StatefulKnowledgeSession  kSession = kBase.newStatefulKnowledgeSession();
	    
	    //任务计划生成事件
	    WorkingMemoryEntryPoint entryPointFlight = kSession.getWorkingMemoryEntryPoint("flight stream");
	    //计划执行监控事件
	    WorkingMemoryEntryPoint entryPointtaskInfo = kSession.getWorkingMemoryEntryPoint("taskInfo stream");
	   
	    //任务计划生成
	    entryPointFlight.insert(new DownGuest("319","CAN-PEK、CAN-URC、CAN-SHA","国内",80,"廊桥机位","廊桥登机口","2012-10-08","2012-10-12"));
	    entryPointFlight.insert(new DownGuest("319","CAN-PEK、CAN-URC、CAN-SHA","国内",80,"廊桥机位","廊桥登机口","2012-10-08","2012-10-12"));
	    entryPointFlight.insert(new DownGuest("314","CAN-PEK、CAN-URC、CAN-SHA","国内",80,"廊桥机位","廊桥登机口","2012-10-08","2012-10-12"));
	    //计划执行监控
	    entryPointtaskInfo.insert(new TaskInfo("清洁","2012-10-08","2012-10-12",3,3,5,"ABC"));
	    entryPointtaskInfo.insert(new TaskInfo("清洁","2012-10-08","2012-10-12",3,3,5,"ABC"));
	    entryPointtaskInfo.insert(new TaskInfo("清洁","2012-10-08","2012-10-12",2,2,3,"ABC"));
	    kSession.fireAllRules();
	    kSession.dispose();
	}
}
