package org.openkoala.sample.process;

import java.util.Date;

public class MyEvent {
	private String eventName;

	private Date eventDateTime;


	public MyEvent(String eventName,Date eventDateTime) {
           this.eventName = eventName;
           this.eventDateTime = eventDateTime;
	}
	
	public String getEventName() {
		return eventName;
	}

	public void setEventName(String eventName) {
		this.eventName = eventName;
	}

	public Date getEventDateTime() {
		return eventDateTime;
	}

	public void setEventDateTime(Date eventDateTime) {
		this.eventDateTime = eventDateTime;
	}
}
