package org.openkoala.sample.process;

import java.io.Serializable;
/*
 * 上客实体
 * */
@SuppressWarnings("serial")
public class TaskInfo implements Serializable {

	private String taskName;// 机型
	private String beginTime;// 航线
	private String endTime;// 航班属性(国内、国际)
	private int af_beginTime;// 执行轮档前开结时间（分）
	private int bf_beginTime;// 执行轮档后开结时间（分）
	private int iDuration;//执行工期
	private String resource;//执行资源

	public TaskInfo(String taskName,String beginTime,String endTime,int af_beginTime,int bf_beginTime,int iDuration,String resource){
		this.taskName = taskName;
		this.beginTime = beginTime;
	    this.endTime = endTime;
	    this.af_beginTime = af_beginTime;
	    this.bf_beginTime = bf_beginTime;
	    this.iDuration = iDuration;
	    this.resource = resource;
	}
	public String getTaskName() {
		return taskName;
	}

	public void setTaskName(String taskName) {
		this.taskName = taskName;
	}

	public String getBeginTime() {
		return beginTime;
	}

	public void setBeginTime(String beginTime) {
		this.beginTime = beginTime;
	}

	public String getEndTime() {
		return endTime;
	}

	public void setEndTime(String endTime) {
		this.endTime = endTime;
	}

	public int getAf_beginTime() {
		return af_beginTime;
	}

	public void setAf_beginTime(int af_beginTime) {
		this.af_beginTime = af_beginTime;
	}

	public int getBf_beginTime() {
		return bf_beginTime;
	}

	public void setBf_beginTime(int bf_beginTime) {
		this.bf_beginTime = bf_beginTime;
	}

	public int getiDuration() {
		return iDuration;
	}

	public void setiDuration(int iDuration) {
		this.iDuration = iDuration;
	}

	public String getResource() {
		return resource;
	}

	public void setResource(String resource) {
		this.resource = resource;
	}

}
