.form-management .modal-dialog, 
.field-management .modal-dialog{
    width:960px;
    padding-top: 30px;
}
.form-management .modal-body,
.field-management .modal-body{
    height: 380px;
    max-height: 450px;
    overflow-y: auto;
}
.form-management .panel ,
.field-management .panel {
    margin-bottom: 0;
}
.form-management .form-group {
    margin-bottom: 5px;
}
.field-management .form-group {
    margin-bottom: 10px;
}
.field-management .rule .select {
	float: left;
}
.field-management .rule .validateExpr {
	width: 50%;
}
.form-management .form-control,
.field-management .form-control{
    display: inline;
    width: 94%;
}
.field-management .row .checker {
	position:relative;
	top: -2px;
}
.form-management .fieldList  {
	border-collapse: separate!important;
	border-color: #DDDDDD transparent transparent #DDDDDD!important;
    border-width: 1 0 0px 1!important;
}
.form-management .fieldList th {
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
}
.form-management .fieldList th, .form-management .fieldList td {
	border-color: transparent #DDDDDD #DDDDDD transparent!important;
    border-width: 0 1px 1px 0!important;
}
.employee-management .modal-body{
    max-height: 450px;
}
.employee-management .modal-dialog {
    padding-top:  80px;
    width: 750px;
}
.employee-management .form-group {
    margin-bottom: 10px;
}
.employee-management .form-control{
    display: inline;
    width: 94%;
}


/*
*  部门
*/
.u-tree  {
    position: relative;
    float: left;
    min-height: 540px;
    width: 25%;
    border-right: 1px solid #DDDDDD!important;
}
.tree-shrink {
    position: absolute;
    left: 205px;
    top: 250px
}
.tree-shrink a {
    cursor: pointer;
}
.right-content {
    float: left;
    width: 75%;
    padding: 15px;
}
.department-detail {
    border: 1px solid #DDDDDD!important;
    margin-bottom: 4px;
}

/**
*岗位调整
*/
.changePost .selected-post {
   background-color: #99CC99;
   color: #ffffff;
   float: left;
   margin-right: 10px;
   margin-top: 2px;
   padding: 4px 0;
   min-width: 65px;
   text-align: center;
   cursor: pointer;
}
.changePost .selected-post a {
   position: relative;
   top: -4px;
   float: right;
   outline: none;
   text-decoration: none;
   cursor: pointer;
}
.changePost .principal {
	background-color: #428BCA;
	color: #FFFFFF
}
.changePost .selected-post a, .changePost .principal a {
	color: #FFFFFF;
	font-size: 12px;
}
.changePost .modal-body {
   padding-top: 4px!important;
   padding-bottom: 0;;
}
.changePost .panel {
   margin-top: 5px;
   margin-bottom: 0;
}
.changePost .panel-body {
   min-height: 38px;
   padding: 6px;
}
.changePost .tree {
   padding-top: 30;
   height: 348px;
   min-width: 250px;
   border: 1px solid #DDDDDD;
}
.changePost .postGrid {
   height: 310px;
   max-width: 640px;
}
.changePost .grid-table-body {
	height:210px;
}
.changePost .grid-table-head th,  .changePost .grid-table-body td {
	text-align: center;
}
.changePost .postGrid a {
	cursor: pointer;
}
.preview-form .modal-dialog {
	width: 900px;
	max-height: 560px;
	overflow:auto
}
.preview-form .modal-dialog .control-label {
	position: relative;
	top: 4px;
}
.processDetail .checkbox-inline,
.processDetail .radio-inline{
 	position: relative;
    top: 3px;
}