body {
    width: 100%;
    height: 100%;
    background-color: #336699;
    padding: 0;
    margin: 0;
}
.login {
    overflow: hidden;
    text-align: center;
}
.login .logo {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px 15px 0;
    text-align: center;
    height: 120px;
    width: 25%;
 }
.login .panel {
    background: #ffffff;
    box-shadow: 0 0 4px #7f7f7f;
    border-radius: 7px;
    overflow: hidden !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 28%;
}
.login .panel-body .input-group:first-child {
   padding-top: 20px;
}
.login .panel-body .input-group {
    margin: 20px auto;
    width: 70%;
}
.login .panel-footer {
    overflow: hidden;
}
.login .login-button {
    float: right;
}