<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>cas-management-web</display-name>

	<!-- Character Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	       <!-- ss3过滤器链 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/jcaptcha.jpg</url-pattern>
	</servlet-mapping>
	
      
	


	<!-- Spring Listener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/root.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.dayatang.spring.webapp.DayatangContextLoaderListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

       
        	<!-- 加入SpringMVC -->
	 <servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:koala-spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	  <servlet-mapping>
	  	<servlet-name>spring</servlet-name>
	  	<url-pattern>*.koala</url-pattern>
	  </servlet-mapping>
	
	<!-- JAX-RS -->
	<servlet>
		<servlet-name>JAXRS</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.openkoala.cas.casmanagement.application.impl.ServiceApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>JAXRS</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<env-entry>
		<env-entry-name>spring-beans-file</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>applicationContext.xml</env-entry-value>
	</env-entry>
 	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>/security.jsp</welcome-file>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<distributable />
</web-app>
