<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- -->
<%@ page language="java" pageEncoding="UTF-8"%>
<html>
  <head>
    <title>帐户金额查询</title>
  </head>
 <body>
   账户名称：${name}<br>
   当前可用余额:  ${money}
 </body>
</html>