<?xml version="1.0" encoding="UTF-8"?>
<faces-config version="1.2" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facesconfig_1_2.xsd">
	<application>
		<variable-resolver>org.springframework.web.jsf.DelegatingVariableResolver</variable-resolver>
	</application>
	
	<managed-bean>
		<managed-bean-name>indexBean</managed-bean-name>
		<managed-bean-class>org.openkoala.jsf.IndexBean</managed-bean-class>
		<managed-bean-scope>request</managed-bean-scope>
		<managed-property>
			<property-name>accountApplication</property-name>
			<value>#{accountApplication}</value>
		</managed-property>
	</managed-bean>
	
	<navigation-rule>
		<from-view-id>/index.jsp</from-view-id>
		<navigation-case>
			<from-action>#{indexBean.getAccountMoney}</from-action>
			<from-outcome>success</from-outcome>
			<to-view-id>/detail.jsp</to-view-id>
		</navigation-case>	
	</navigation-rule>
</faces-config>