@CHARSET "UTF-8";
/**
*Tree
*/

.u-tree  {
    position: relative;
    float: left;
    min-height: 540px;
    width: 25%;
    border-right: 1px solid #DDDDDD!important;
}

.tree {
  position:relative;
  padding:10px 15px;
  overflow-x:hidden;
  overflow-y:auto;
  border:1px solid #BBBBBB;
  border-radius:4px 4px 4px 4px;
}

.tree .tree-folder {
  width:100%;
  min-height:20px;
  margin-top:1px;
  cursor:pointer;
}

.tree .tree-folder .tree-folder-header {
  position:relative;
  height:20px;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-folder .tree-folder-header:hover {
  background-color:#dfeef5;
}

.tree .tree-folder .tree-folder-header i {
  position:relative;
  top:-1px;
}

.tree .tree-folder .tree-folder-header .tree-folder-name {
  display: inline;
  padding-left:4px;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size: 14px;
}

.tree .tree-folder .tree-folder-content {
  margin-left:23px;
}

.tree .tree-item {
  position:relative;
  width:100%;
  height:20px;
  margin-top:1px;
  cursor:pointer;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}

.tree .tree-item:hover {
  background-color:#dfeef5;
}

.tree .tree-item .tree-item-name {
  display: inline;
  position: relative;
  left:4px;
  font-size: 14px;
}
.tree .tree-selected {
  background-color:#b9dff1;
}

.tree .tree-selected:hover {
  background-color:#b9dff1;
}

.tree .checkbox input {
    position: relative;
    top: -2px;
}
.tree .radio, .tree .checkbox {
    margin-top: 2px;
    margin-bottom: 2px;
}