<?xml version="1.0" encoding="UTF-8"?>

<XmlParse>
	<!-- 指定此功能的名称 -->
	<property name="description">Module</property>
	
	<!-- 渲染此功能需要生成的模板  JPA -->
    <VelocityFileObject>
      <property name="express">$Project.dbProtocol=='JPA'</property>
      <property name="vm">vm/base/module.pom.xml.vm</property>
      <property name="path">${Project.path}/${Project.appName}/${Module.moduleName}/pom.xml</property>
    </VelocityFileObject>
    
    	<!-- 渲染此功能需要生成的模板  Mybatis-->
    <VelocityFileObject>
      <property name="express">$Project.dbProtocol=='Mybatis'</property>
      <property name="vm">vm/base/module.pom.xml.vm</property>
      <property name="path">${Project.path}/${Project.appName}/${Module.moduleName}/pom.xml</property>
    </VelocityFileObject>
    
     <CopyFiles>
        <property name="srcDir">vm/module/src/main/java</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/main/java/${Module.basePackagePath}/</property>
     </CopyFiles>
     
     <CopyFiles>
        <property name="srcDir">vm/module/src/main/resources</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/main/resources/</property>
     </CopyFiles>
     
     <CopyFiles>
        <property name="srcDir">vm/module/src/main/resources</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/main/resources/META-INF/spring/</property>
     </CopyFiles>
     
     <CopyFiles>
        <property name="srcDir">vm/module/src/main/resources</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/main/resources/META-INF/props/</property>
     </CopyFiles>
     
     <CopyFiles>
        <property name="srcDir">vm/module/src/test/java</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/test/java/${Module.basePackagePath}/</property>
     </CopyFiles>
     
     <CopyFiles>
        <property name="srcDir">vm/module/src/test/resources</property>
        <property name="destDir">${Project.path}/${Project.appName}/${Module.moduleName}/src/test/resources/</property>
     </CopyFiles>
     
</XmlParse>