<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:s="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">



	<!-- 配置不需要权限的URL -->
	<s:http pattern="/login.koala*" security="none" />
	<s:http pattern="/denied.koala*" security="none" />
	<s:http pattern="/login.jsp*" security="none" />
	<s:http pattern="/*.ico" security="none" />
	<s:http pattern="/" security="none" />
	<s:http pattern="/lib/**" security="none" />
	<s:http pattern="/common/**" security="none" />
	<s:http pattern="/login.jsp" security="none" />
	<s:http pattern="/favicon.ico" security="none" />
	<s:http pattern="/**/*.css" security="none" />
	<s:http pattern="/**/*.js" security="none" />
	<s:http pattern="/**/*.jpg" security="none" />
	<s:http pattern="/**/*.png" security="none" />
	<s:http pattern="/**/*.gif" security="none" />

	<!-- 设置登录页面为login.jsp且不拦截页面login.jsp后面的*防止带了参数 -->
	<s:http auto-config="true" access-denied-page="/pages/errors/denied.jsp">
		<s:form-login login-page="/login.koala"
			default-target-url="/index.koala" always-use-default-target="true" />



		<s:logout invalidate-session="true" logout-url="/j_spring_security_logout"
			logout-success-url="/login.koala" />

		<!-- <s:session-management session-fixation-protection="none"> <concurrency-control 
			/> </s:session-management> -->
		<s:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		<s:session-management invalid-session-url="/login.koala" />

		<!-- 设置登录过滤器 -->
		<s:custom-filter before="FORM_LOGIN_FILTER" ref="authenticationFilter" />

		<!-- 过滤器，不能修改 -->
		<s:custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR" />

	</s:http>


	<!-- 登录成功 -->
	<bean id="loginLogAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/index.koala" />
	</bean>

	<!-- 登录失败 -->
	<bean id="loginFailureHandler" class="org.openkoala.koala.auth.ss3adapter.LoginFailureHandler">
		<property name="userAccountNotFoundUrl" value="/login.koala?login_error=1" />
		<property name="passwordNotCorrectUrl" value="/login.koala?login_error=2" />
		<property name="validateCodeNotCorrectUrl" value="/login.koala?login_error=3" />
		<property name="userDisableUrl" value="/login.koala?login_error=4" />
	</bean>

	<!-- 验证码过滤器 -->
	<bean id="authenticationFilter"
		class="org.openkoala.koala.auth.ss3adapter.filter.AuthenticationFilter">
		<property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler" />
		<property name="failureHandler" ref="loginFailureHandler" />
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="httpHandlers">
			<list>
				<bean
					class="org.openkoala.koala.auth.ss3adapter.http.handler.ValidateCodeHandler" />
			</list>
		</property>
	</bean>
</beans>
