#set($entityName = $pageParams.entityModel.name)
#set($voName  = ${entityName.substring(0, 1).toLowerCase()} + ${entityName.substring(1)} + "VO")
#set($base_url = $pageParams.entityModel.lastPackageName + "-" + $entityName +"-")
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<%@ include file="/pages/common/header.jsp"%>
<%@ page import="java.util.Date"%>
<% String formId = "form_" + new Date().getTime();
   String gridId = "grid_" + new Date().getTime();
   String path = request.getContextPath()+request.getServletPath().substring(0,request.getServletPath().lastIndexOf("/")+1);
%>
<script type="text/javascript">
var grid;
var form;
var _dialog;
$(function (){
    grid = $("#<%=gridId%>");
    form = $("#<%=formId%>");
	PageLoader.initSearchPanel();
	PageLoader.initGridPanel();
	form.find('#search').on('click', function(){
            if(!Validator.Validate(document.getElementById("<%=formId%>"),3))return;
            var params = {};
            form.find('input').each(function(){
                var $this = $(this);
                var name = $this.attr('name');
                if(name){
                    params[name] = $this.val();
                }
            });
            grid.getGrid().search(params);
        });
});

PageLoader = {
   //
    initSearchPanel:function(){
        #if($pageParams.queryModel)
            #foreach( $view in $pageParams.queryModel.views)
                #if($view.type.indexOf("oolean") > 0)
                   form.find('#${view.express}_SELECT').select({
                        title: '请选择',
                        contents: [
                            {title: '请选择', value: ''},
                            {title: '是', value: '1'},
                            {title: '否', value: '0'}
                        ]
                   }).on('change',function(){
                        form.find('#${view.express}ID_').val($(this).getValue());
                   });
                #elseif ($view.widgetType == 'staticDropdown')
                     var contents = [{title:'请选择', value: ''}];
                     #foreach($opt in $view.valueMap.entrySet())
                     contents.push({title:'$opt.value' , value:'$opt.key'});
                     #end
                     form.find('#${view.express}_SELECT').select({
                                            title: '请选择',
                                            contents: contents
                                       }).on('change',function(){
                                           form.find('#${view.express}ID_').val($(this).getValue());
                                       });
                #elseif ($view.widgetType == 'date')
                     var startTimeVal = form.find('#${view.express}ID_start');
                     var startTime = startTimeVal.parent();
                     var endTimeVal = form.find('#${view.express}ID_end');
                     var endTime = endTimeVal.parent();
                     startTime.datetimepicker({
                                        language: 'zh-CN',
                                        format: "yyyy-mm-dd",
                                        autoclose: true,
                                        todayBtn: true,
                                        minView: 2,
                                        pickerPosition: 'bottom-left'
                     }).on('changeDate', function(){
                                 endTime.datetimepicker('setStartDate', startTimeVal.val());
                           });//加载日期选择器
                     var yesterday = new Date();
                     yesterday.setDate(yesterday.getDate() - 1);
                     endTime.datetimepicker({
                             language: 'zh-CN',
                             format: "yyyy-mm-dd",
                             autoclose: true,
                             todayBtn: true,
                             minView: 2,
                             pickerPosition: 'bottom-left'
                     }).on('changeDate', function(ev){
                                startTime.datetimepicker('setEndDate', endTimeVal.val());
                           }).datetimepicker('setDate', new Date()).trigger('changeDate');//加载日期选择器
                     startTime.datetimepicker('setDate', yesterday).trigger('changeDate');
                #elseif ($view.widgetType == 'queryDropdown')
                    //动态查询未实现
                #if ($view.filterParams && $view.filterParams != '')
                    filter:encodeURIComponent("${view.filterParams}"),
                #end
                #if ($view.parentId && $view.parentId != '')
                    parentId:"${view.parentId}"
                #end
                    });
                #end
            #end
        #end
     },
    initGridPanel: function(){
         var self = this;
         var width = 180;
         return grid.grid({
                identity:"${dtoClass.entityModel.singleIDFieldModel.name}",
                buttons: [
                        {content: '<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"><span>添加</button>', action: 'add'},
                        {content: '<button class="btn btn-success" type="button"><span class="glyphicon glyphicon-edit"><span>修改</button>', action: 'modify'},
                        {content: '<button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"><span>删除</button>', action: 'delete'}
                    ],
                url:"${pageContext.request.contextPath}/${entityName}/pageJson.koala",
                columns: [
                     #foreach( $view in $pageParams.listModel.views)
                         #if($view.type.indexOf("oolean") > 0)
                         { title: '${view.name}', name: '${view.express}AsString', width: 120, render:function(rowdata, rowindex, value){
                             return value == "1" ? "<span style="color:#47a447" class="glyphicon glyphicon-ok"></span>" : "<span style="color:#d2322d" class="glyphicon glyphicon-remove"></span>";
                         }},
                         #elseif ($view.viewType=="ReadOnlyView")
                         { title: '${view.name}', name: '${view.express}', width: width},
                         #elseif ($view.viewType=="RelativeReadOnlyView")
                         { title: '${view.name}', name: '${view.relative}${view.express.substring(0,1).toUpperCase()}${view.express.substring(1)}',width: width},
                         #end
                         #end
                             { title: '操作', width: 120, render: function (rowdata, name, index)
                                 {
                                     var param = '"' + rowdata.${dtoClass.entityModel.singleIDFieldModel.name} + '"';
                                     var h = "<a href='javascript:openDetailsPage(" + param + ")'>查看</a> ";
                                     return h;
                                 }
                             }
                ]
         }).on({
                   'add': function(){
                       self.add($(this));
                   },
                   'modify': function(event, data){
                        var indexs = data.data;
                        var $this = $(this);
                        if(indexs.length == 0){
                            $this.message({
                                type: 'warning',
                                content: '请选择一条记录进行修改'
                            })
                            return;
                        }
                        if(indexs.length > 1){
                            $this.message({
                                type: 'warning',
                                content: '只能选择一条记录进行修改'
                            })
                            return;
                        }
                       self.modify(indexs[0], $this);
                    },
                   'delete': function(event, data){
                        var indexs = data.data;
                        var $this = $(this);
                        if(indexs.length == 0){
                            $this.message({
                                   type: 'warning',
                                   content: '请选择要删除的记录'
                            });
                            return;
                        }
                        var remove = function(){
                            self.remove(indexs, $this);
                        };
                        $this.confirm({
                            content: '确定要删除所选记录吗?',
                            callBack: remove
                        });
                   }
         });
    },
    add: function(grid){
        var self = this;
        var dialog = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">新增</h4></div><div class="modal-body"><p>One fine body&hellip;</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">取消</button><button type="button" class="btn btn-primary" id="save">保存</button></div></div></div></div>');
        $.get('<%=path%>/${entityName}-add.jsp').done(function(html){
            dialog.modal({
                keyboard:false
            }).on({
                'hidden.bs.modal': function(){
                    $(this).remove();
                }
            }).find('.modal-body').html(html);
            self.initPage(dialog.find('form'));
        });
        dialog.find('#save').on('click',{grid: grid}, function(e){
              if(!Validator.Validate(dialog.find('form')[0],3))return;
              $.post('${pageContext.request.contextPath}/${entityName}/add.koala', dialog.find('form').serialize()).done(function(result){
                   if(result.result == 'success'){
                        dialog.modal('hide');
                        e.data.grid.data('koala.grid').refresh();
                        $('body').message({
                            type: 'success',
                            content: '保存成功'
                         });
                    }else{
                        $('body').message({
                            type: 'error',
                            content: result.actionError
                        });
                     }
              });
        });
    },
    modify: function(id, grid){
        var self = this;
        var dialog = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">修改</h4></div><div class="modal-body"><p>One fine body&hellip;</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">取消</button><button type="button" class="btn btn-primary" id="save">保存</button></div></div></div></div>');
        $.get('<%=path%>/${entityName}-update.jsp').done(function(html){
               dialog.find('.modal-body').html(html);
               self.initPage(dialog.find('form'));
               $.get( '${pageContext.request.contextPath}/${entityName}/get/' + id + '.koala').done(function(json){
                       json = json.data;
                        var elm;
                        for(var index in json){
                            elm = dialog.find('#'+ index + 'ID');
                            if(elm.hasClass('select')){
                                elm.setValue(json[index]);
                            }else{
                                elm.val(json[index]);
                            }
                        }
                });
                dialog.modal({
                    keyboard:false
                }).on({
                    'hidden.bs.modal': function(){
                        $(this).remove();
                    }
                });
                dialog.find('#save').on('click',{grid: grid}, function(e){
                    if(!Validator.Validate(dialog.find('form')[0],3))return;
                    $.post('${pageContext.request.contextPath}/${entityName}/update.koala?${dtoClass.entityModel.singleIDFieldModel.name}='+id, dialog.find('form').serialize()).done(function(result){
                        if(result.result == 'success'){
                            dialog.modal('hide');
                            e.data.grid.data('koala.grid').refresh();
                            $('body').message({
                            type: 'success',
                            content: '保存成功'
                            });
                        }else{
                            $('body').message({
                            type: 'error',
                            content: result.actionError
                            });
                        }
                    });
                });
        });
    },
    initPage: function(form){
              form.find('.form_datetime').datetimepicker({
                   language: 'zh-CN',
                   format: "yyyy-mm-dd",
                   autoclose: true,
                   todayBtn: true,
                   minView: 2,
                   pickerPosition: 'bottom-left'
               }).datetimepicker('setDate', new Date());//加载日期选择器
               form.find('.select').each(function(){
                    var select = $(this);
                    var idAttr = select.attr('id');
                    select.select({
                        title: '请选择',
                        contents: selectItems[idAttr]
                    }).on('change', function(){
                        form.find('#'+ idAttr + '_').val($(this).getValue());
                    });
               });
    },
    remove: function(ids, grid){
    	var data = [{ name: '${dtoClass.entityModel.singleIDFieldModel.name}s', value: ids.join(',') }];
    	$.post('${pageContext.request.contextPath}/${entityName}/delete.koala', data).done(function(result){
                        if(result.result == 'success'){
                            grid.data('koala.grid').refresh();
                            $('body').message({
                                type: 'success',
                                content: '删除成功'
                            });
                        }else{
                            $('body').message({
                                type: 'error',
                                content: result.result
                            });
                        }
    	});
    }
}
var openDetailsPage = function(id){
        var dialog = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">查看</h4></div><div class="modal-body"><p>One fine body&hellip;</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">返回</button></div></div></div></div>');
        $.get('<%=path%>/${entityName}-view.jsp').done(function(html){
               dialog.find('.modal-body').html(html);
               $.get( '${pageContext.request.contextPath}/${entityName}/get/' + id + '.koala').done(function(json){
                       json = json.data;
                        var elm;
                        for(var index in json){
                           dialog.find('#'+ index + 'ID').html(json[index]);
                        }
               });
                dialog.modal({
                    keyboard:false
                }).on({
                    'hidden.bs.modal': function(){
                        $(this).remove();
                    }
                });
        });
}
</script>
</head>
<body>
<div style="width:98%;margin-right:auto; margin-left:auto; padding-top: 15px;">
<!-- search form -->
<form name=<%=formId%> id=<%=formId%> target="_self" class="form-horizontal">
<input type="hidden" name="page" value="1">
<input type="hidden" name="pagesize" value="10">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
#if($pageParams.queryModel)
#set($count=0)
#foreach( $view in $pageParams.queryModel.views) 
    #set($count=$count+1)
    #if($count % 2 == 1)
      <div class="form-group">
    #end
      <label class="control-label" style="width:100px;float:left;">${view.name}:&nbsp;</label>
    #if($view.type.indexOf("oolean") > 0)
	  <div style="margin-left:15px;float:left;">
	      <div class="btn-group select" id="${view.express}_SELECT"></div>
	      <input type="hidden" id="${view.express}ID_" name="${view.express}AsString" ${view.validateAttrs}/>
	  </div>
    #elseif($view.widgetType == 'text')
        <div style="margin-left:15px;float:left;">
            <input name="${view.express}" class="form-control" type="text" style="width:180px;" id="${view.express}ID" ${view.validateAttrs} />
        </div>
    #elseif ($view.widgetType == 'date')
       <div style="margin-left:15px;float:left;">
            <div class="input-group date form_datetime" style="width:160px;float:left;" >
                <input type="text" class="form-control" style="width:160px;" name="${view.express}" id="${view.express}ID_start" ${view.validateAttrs}>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <div style="float:left; width:10px; margin-left:auto; margin-right:auto;">&nbsp;-&nbsp;</div>
            <div class="input-group date form_datetime" style="width:160px;float:left;" >
                <input type="text" class="form-control" style="width:160px;" name="${view.express}End" id="${view.express}ID_end" ${view.validateAttrs}>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
       </div>
    #elseif ($view.widgetType == 'staticDropdown')
	  <div style="margin-left:15px;float:left;">
	      <div class="btn-group select" id="${view.express}_SELECT"></div>
	        <input type="hidden" id="${view.express}ID_" name="${view.express}" ${view.validateAttrs}/>
	      </div>
	  </div>
    #elseif ($view.widgetType == 'queryDropdown')
     //动态查询 未实现
    #end
    #if($count % 2 == 0)
    </div>
    #end
    #end
    </td>
    #end
   <td style="vertical-align: bottom;"><button id="search" type="button" style="position:relative; margin-left:35px; top: -15px" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;查询</button></td>
  </tr>
</table>	
</form>
<!-- grid -->
<div id=<%=gridId%>></div>
</div>
</body>
</html>
