#set($entityName = $pageParams.entityModel.name)
#set($voName  = ${entityName.substring(0, 1).toLowerCase()} + ${entityName.substring(1)} + "VO")
#set($base_url = $pageParams.entityModel.lastPackageName + "-" + $entityName +"-")
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<form class="form-horizontal">
#foreach( $view in $pageParams.formWidgets)
#if(${view.express} !='id')
	           <div class="form-group">
                    <label class="col-lg-3 control-label">${view.name}:</label>
#if($view.type.indexOf("oolean") > 0)
                    <div class="col-lg-9">
                           <div class="btn-group select" id="${view.express}ID"></div>
	                       <input type="hidden" id="${view.express}ID_" name="${view.express}AsString" ${view.validateAttrs}/>                    </div>
#elseif($view.widgetType == 'text')
                    <div class="col-lg-9">
                           <input name="${view.express}" style="display:inline; width:94%;" class="form-control"  type="text" ${view.validateAttrs} id="${view.express}ID" />
#elseif ($view.widgetType == 'date')
                 <div class="col-lg-9">
                    <div class="input-group date form_datetime" style="width:160px;float:left;" >
                        <input type="text" class="form-control" style="width:160px;" name="${view.express}" id="${view.express}ID" ${view.validateAttrs}>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                     </div>
#elseif ($view.widgetType == 'textArea')
                <div class="col-lg-9">
                    <textarea class="form-control" style="display:inline; width:94%;" rows="3" id="${view.express}ID" name="${view.express}" ${view.validateAttrs} ></textarea>
#elseif ($view.widgetType == 'staticDropdown')
                    <div class="col-lg-9">
                           <div class="btn-group select" id="${view.express}ID"></div>
	                       <input type="hidden" id="${view.express}ID_"  name="${view.express}" ${view.validateAttrs}/>
#elseif ($view.widgetType == 'queryDropdown')
           //未实现
#end
#if ($view.required)<span class="required">*</span>#end
    </div>
</div>
#end
#end
</form>
<script type="text/javascript">
    var selectItems = {};
    #foreach( $view in $pageParams.formWidgets)
    #if ($view.type.indexOf("oolean") > 0)
    selectItems['${view.express}ID'] = [
                   {title: '请选择', value: ''},
                   {title: '是', value: '1'},
                   {title: '否', value: '0'}
                ];
    #elseif ($view.widgetType == 'staticDropdown')
    var contents = [{title:'请选择', value: ''}];
    #foreach($opt in $view.valueMap.entrySet())
    contents.push({title:'$opt.value' , value:'$opt.key'});
    #end
    selectItems['${view.express}ID'] = contents;
    #elseif ($view.widgetType == 'queryDropdown')
    //下拉框
    未实现
    #if ($view.filterParams && $view.filterParams != '')
        filter:encodeURIComponent("${view.filterParams}"),
    #end
    #if ($view.cascadeViewList.size() > 0)
        cascadeFieldIds:"${view.cascadeNames}",
    #end
    #if ($view.parentId && $view.parentId != '')
        parentId:"${view.parentId}"
    #end
    #end
    #end
</script>
</body>
</html>