#set($entityName = $pageParams.entityModel.name)
#set($voName  = ${entityName.substring(0, 1).toLowerCase()} + ${entityName.substring(1)} + "DTO")
#set($base_url = $pageParams.entityModel.lastPackageName + "-" + $entityName +"-")
#set($gridCols = 0)
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<%@ include file="/pages/common/header.jsp"%>
<script type="text/javascript">
var id = "<s:property value="#parameters['id']"/>";
var manager;
$(function (){
    load${entityName}Data();
#if($pageParams.haveTab)
	$("#navtab").ligerTab(); 
#end	
#foreach( $tab in $pageParams.tabs) 
    load${tab.relationFieldModel.name}();  
#end
    //
    autoResize();
});

function load${entityName}Data(){
 if(id == '')return;
 $.ajax({
		type : 'POST',
		url: '<%=contextPath %>/${base_url}get.action?${voName}.id='+id,
		dataType:'json',
		success: function(json){
			if(json && json.data){
			 json = json.data;
			 var _td;
			 var innerHtml;
			 for(var index in json){
			   _td = $("#"+index + "ID");
			   if(_td.attr('format') == 'boolean'){
			     innerHtml = json[index] == "1" ? "是" : "否";
			   }else{
			     innerHtml = json[index];
			   }
			   _td.html(innerHtml);
			 }
			}
		}
	});		
}

#foreach( $tab in $pageParams.tabs) 
function load${tab.relationFieldModel.name}(){
#if($tab.relationFieldModel.relationModel.typeAsString == 'OneToOne' || $tab.relationFieldModel.relationModel.typeAsString == 'ManyToOne')
  $.ajax({
		type : 'POST',
		url: '<%=contextPath %>/${base_url}find${tab.relationFieldModel.name.substring(0, 1).toUpperCase()}${tab.relationFieldModel.name.substring(1)}By${entityName}.action?${voName}.id='+id,
		dataType:'json',
		success: function(json){
			if(json != null){
			json = json.data;
			 for(var index in json){
			   $("#R${tab.relationFieldModel.relationModel.entityModel.name}"+index+"ID").html(json[index]);
			 }
			}
		}
	});			
#elseif($tab.relationFieldModel.relationModel.typeAsString == 'OneToMany' || $tab.relationFieldModel.relationModel.typeAsString == 'ManyToMany')
  #set($gridCols = $tab.listModel.views.size())
  $("#${tab.relationFieldModel.name}Grid").ligerGrid({
        pagesizeParmName:'pageSize',//每页记录数
        pageSize:10,
        height:'300px',
        columns: [
        #set($columnWidth = 100/$tab.listModel.views.size() )
#foreach( $view in $tab.listModel.views)
#if($view.type.indexOf("oolean") > 0)
         { display: '${view.name}', name: '${view.express}AsString',width : '${columnWidth}%',editor: { type: 'text' },render:function(rowdata, rowindex, value){
        	  var icon = value == "1" ? "true.gif" : "false.gif";
        	  return "<img src='<%=contextPath %>/images/icons/16x16/"+icon+"' />";
          }},
#else 
        { display: '${view.name}', name: '${view.express}',width : '${columnWidth}%',editor: { type: 'text' }}, 
#end  
#end
       ],
       enabledEdit: false, clickToEdit: false, isScroll: true,  
       url:'<%=contextPath %>/${base_url}find${tab.relationFieldModel.name.substring(0, 1).toUpperCase()}${tab.relationFieldModel.name.substring(1)}By${entityName}.action?${voName}.id='+id,
       width: '100%'
   });	
#end
}
#end

function autoResize(){
	var $dialog = $(parent.document).find("div.l-dialog:last");
	var totalWidth = $(parent.window).width();
	var totalHeight = $(parent.window).height();
#if($gridCols >0)
#if($gridCols >9)
	var width = 900;
#else	
    var width = $gridCols * 100;
#end	
	var height = totalHeight - 10;
#else
    var width = 650;
	var height =90;
	$("table.form4column").each(function(){
	   height += $(this).height();
	});
#end
    height = height < 250 ? 250 :height;
	var leftoff = (totalWidth - width)/2;
	var topoff = (totalHeight - height)/2;
	
	try {
		$dialog.css('left',leftoff).css('top',topoff);
		$(parent.document).find("div.l-dialog-body:last").height(height).width(width);
		$(parent.document).find('div.l-dialog-content:last').height(height-5);
	} catch (e) {}
}
</script>
</head>
<body>
<div id="mainpanel">
  <div class="form_tltle"></div>
  <table id="top_table" border="0" cellpadding="0" cellspacing="0" class="form4column">
#foreach( $view in $pageParams.viewModel.views) 
#if($velocityCount % 2 != 0)
		<tr>
#end
         <td class="label">${view.name}:</td>  
#if($view.type.indexOf("oolean") > 0)
<td id='${view.express}ID' class="content" format="boolean">&nbsp;</td>
#elseif ($view.viewType=="ReadOnlyView")
         <td id='${view.express}ID' class="content">&nbsp;</td>
#end
#if ($view.viewType=="RelativeReadOnlyView")
         	<td class="content" id='${view.relative}${view.express.substring(0,1).toUpperCase()}${view.express.substring(1)}ID'>&nbsp;</td>
#end
#if($velocityCount % 2 == 0)
		</tr>
#end
#end
  </table>
<br/>
  <div id="navtab" >
#foreach( $tab in $pageParams.tabs) 
	<div title="$tab.relationFieldModel.name">
#if($tab.relationFieldModel.relationModel.typeAsString == 'OneToOne' || $tab.relationFieldModel.relationModel.typeAsString == 'ManyToOne')
	 <table id="${tab.relationFieldModel.name}Panel" class="form4column">
#foreach( $view in $tab.listModel.views) 
#if($velocityCount % 2 != 0)
		<tr>
#end
         <td class="label">${view.name}:</td>
         <td class="content" id='R${tab.relationFieldModel.relationModel.entityModel.name}${view.express}ID'>&nbsp;</td>
#if($velocityCount % 2 == 0)
		</tr>
#end
#end
	 </table>
#elseif($tab.relationFieldModel.relationModel.typeAsString == 'OneToMany' || $tab.relationFieldModel.relationModel.typeAsString == 'ManyToMany')
	<div id="${tab.relationFieldModel.name}Grid"></div>	
#end
	</div>
#end
  </div>
</div>
</body>
</html>
