<?xml version="1.0"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>$Project.groupId</groupId>
	    <artifactId>$Project.artifactId</artifactId>
	    <version>$Project.version</version>
	</parent>
	<groupId>$Project.groupId</groupId>
	<artifactId>${Project.artifactId}-ear</artifactId>
	<version>$Project.version</version>
	
	<packaging>ear</packaging>
	
	<name>ear</name>
	<url>http://maven.apache.org</url>
	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<project.type>ear</project.type>
	</properties>
	<dependencies>

#foreach ($_module in $Project.modules )
  #if ($_module.ejb && $_module.moduleType=="applicationImpl")
  <dependency>
			<groupId>$Project.groupId</groupId>
	        <artifactId>${Project.artifactId}-${Module.moduleName}</artifactId>
	        <version>$Project.version</version>
			<type>ejb</type>
</dependency>
  #end
#end
		

		<dependency>
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<version>3.8.1</version>
			<scope>test</scope>
		</dependency>
	</dependencies>

	<build>
		<plugins>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-ear-plugin</artifactId>
				<version>2.5</version>
				<configuration>
					<defaultLibBundleDir>lib</defaultLibBundleDir>
				</configuration>
			</plugin>
		</plugins>
	</build>

</project>