# ftp服务器IP地址
ftp.serverIp  = 127.0.0.1
# ftp服务器端口
ftp.port = 21
# ftp服务器用户名
ftp.username = test
# ftp服务器密码
ftp.password = 123456
# 字符编码 
ftp.encoding = UTF-8
#  
ftp.tmpDir = D:/test/cache
ftp.retry.count = 8
#PORT 主动模式  PASSVIE 被动模式
ftp.mode = PORT