package org.openkoala.sample.job;

import org.quartz.Scheduler;
import org.quartz.SchedulerFactory;
import org.quartz.impl.StdSchedulerFactory;

public class PureJobTwo {
	public void run(String props)  throws Exception{
		// First we must get a reference to a scheduler
        SchedulerFactory sf = new StdSchedulerFactory(props);
        Scheduler sched = sf.getScheduler();
        sched.start();
	}
	
	public static void main(String[] args) throws Exception {
		PureJobTwo job = new PureJobTwo();
		job.run("quartz_cluster_two.properties");
	}
	
}
