<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:jee="http://www.springframework.org/schema/jee" 
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-3.0.xsd ">

<!-- all application configure should configure in this file -->
<context:property-placeholder location="classpath*:ejb-client.properties" />
  
#foreach ($impl in $impls )
<jee:remote-slsb id="${impl.applicationName}" expose-access-context="true" 
    jndi-name="${${impl.applicationName}.Remote}"
    business-interface="${impl.fullApplicationName}">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>
#end

 #if ($hasSecurityModule)
 <jee:remote-slsb id="menuApplication" expose-access-context="true" 
    jndi-name="${MenuApplication.Remote}" 
    business-interface="org.openkoala.auth.application.MenuApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="ResourceApplication" expose-access-context="true" 
    jndi-name="${ResourceApplication.Remote}" 
    business-interface="org.openkoala.auth.application.ResourceApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="RoleApplication" expose-access-context="true" 
    jndi-name="${RoleApplication.Remote}"   
    business-interface="org.openkoala.auth.application.RoleApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="UserApplication" expose-access-context="true" 
    jndi-name="${UserApplication.Remote}"   
    business-interface="org.openkoala.auth.application.UserApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="ResourceTypeApplication" expose-access-context="true" 
    jndi-name="${ResourceTypeApplication.Remote}"   
    business-interface="org.openkoala.auth.application.ResourceTypeApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="authDataService" expose-access-context="true" 
    jndi-name="${JDBCAuthDataService.Remote}"   
    business-interface="org.openkoala.koala.auth.AuthDataService">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>
         
#end

#if ($hasSecurity_IMPL)

 <jee:remote-slsb id="monitorDataManageApplication" expose-access-context="true" 
    jndi-name="${monitorDataManageApplication.Remote}"   
    business-interface="org.openkoala.koala.monitor.application.MonitorDataManageApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="monitorNodeManageApplication" expose-access-context="true" 
    jndi-name="${monitorNodeManageApplication.Remote}"  
    business-interface="org.openkoala.koala.monitor.application.MonitorNodeManageApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

 <jee:remote-slsb id="serviceMonitorApplication" expose-access-context="true" 
    jndi-name="${serviceMonitorApplication.Remote}"   
    business-interface="org.openkoala.koala.monitor.application.ServiceMonitorApplication">
    <jee:environment>
       java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>
  
#end

#if ($hasQueryModule)

 <jee:remote-slsb id="dataSourceApplication" expose-access-context="true" 
    jndi-name="${dataSourceApplication.Remote}"   
    business-interface="org.openkoala.gqc.application.DataSourceApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

<jee:remote-slsb id="gqcApplication" expose-access-context="true" 
    jndi-name="${gqcApplication.Remote}"   
    business-interface="org.openkoala.gqc.application.GqcApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

#end

#if ($hasOrganizationModule)
  <jee:remote-slsb id="baseApplication" expose-access-context="true" 
    jndi-name="${baseApplication.Remote}"   
    business-interface="org.openkoala.organisation.application.BaseApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

  <jee:remote-slsb id="employeeApplication" expose-access-context="true" 
    jndi-name="${employeeApplication.Remote}"   
    business-interface="org.openkoala.organisation.application.EmployeeApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

<jee:remote-slsb id="jobApplication" expose-access-context="true" 
    jndi-name="${jobApplication.Remote}"   
    business-interface="org.openkoala.organisation.application.JobApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

<jee:remote-slsb id="organizationApplication" expose-access-context="true" 
    jndi-name="${organizationApplication.Remote}"   
    business-interface="org.openkoala.organisation.application.OrganizationApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>

<jee:remote-slsb id="postApplication" expose-access-context="true" 
    jndi-name="${postApplication.Remote}"   
    business-interface="org.openkoala.organisation.application.PostApplication">
    <jee:environment>
        java.naming.factory.initial=${java.naming.factory.initial}
        java.naming.provider.url=${java.naming.provider.url}
        jboss.naming.client.ejb.context=true
        java.naming.security.principal=${java.naming.security.principal}
        java.naming.security.credentials=${java.naming.security.credentials}
    </jee:environment>
</jee:remote-slsb>
#end
</beans>