#JNDI\u8FDE\u63A5\u5DE5\u5382
java.naming.factory.initial=org.jnp.interfaces.NamingContextFactory
#\u8BBE\u7F6E\u547D\u540D\u670D\u52A1\u5668\u7684\u8FDE\u63A5URL
java.naming.provider.url=jnp://localhost:1099
#\u5DE5\u5382\u5BF9\u8C61\u7684\u5305
java.naming.factory.url.pkgs=org.jboss.naming:org.jnp.interfaces

#service

#foreach ($Application in $Applications)
${Application.applicationName}.Local=${Project.name}-EJB/${Application.applicationName}/local
${Application.applicationName}.Remote=${Project.name}-EJB/${Application.applicationName}/remote
#end

#if(${hasSecurity})
	
MenuApplication.Local=${Project.name}-EJB/MenuApplication/local
MenuApplication.Remote=${Project.name}-EJB/MenuApplication/remote
ResourceApplication.Local=${Project.name}-EJB/ResourceApplication/local
ResourceApplication.Remote=${Project.name}-EJB/ResourceApplication/remote
RoleApplication.Local=${Project.name}-EJB/RoleApplication/local
RoleApplication.Remote=${Project.name}-EJB/RoleApplication/remote
UserApplication.Local=${Project.name}-EJB/UserApplication/local
UserApplication.Remote=${Project.name}-EJB/UserApplication/remote
ResourceTypeApplication.Local=${Project.name}-EJB/ResourceTypeApplication/local
ResourceTypeApplication.Remote=${Project.name}-EJB/ResourceTypeApplication/remote

JDBCAuthDataService.Remote=${Project.name}-EJB/EJBAuthDataService/remote
#end