<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="memcached" class="org.dayatang.cache.memcached.MemCachedBasedCache" >
		<property name="servers">
			<list>
				<value>localhost:11211</value>
			</list>
		</property>
		<property name="initConn" value="3"></property>
		<property name="minConn" value="3"></property>
		<property name="maxConn" value="5"></property>
	</bean>


</beans>