
.l-hidden{ display:none;}
/* -------------
   * 多行文本框颜色 *
* ------------- */  
.l-textarea{border:1px solid #D0D0D0; margin-left:0px;outline:none; background:#FFFFFF url('../images/ui/input.gif') repeat-x top;}
 .l-textarea:hover{border-color:#777777;}
.l-textarea-invalid,.l-textarea:focus{ border-color:#777777;}
.l-textarea-invalid{border-color:#FF7777; background:#FFEEEE url(../../Aqua/images/common/invalid-line.gif) repeat-x bottom;}
.l-textarea-invalid:hover,.l-textarea-invalid:focus{border-color:#FF7777;}
/* -------------
   * 文本框/下拉框/日期框/调整器 *
* ------------- */

/* 文本框、下来框、日期框、调整器都使用到这个 */
.l-text
{
    position:relative; background:#FFFFFF url('../images/ui/input.gif') repeat-x top;
    border:1px solid #D0D0D0; height:20px; line-height:20px;
    width:130px; 
}
/* 文本框得到焦点的样式*/
.l-text-focus
{
    border-color:#777777;
}

.l-text-invalid {
background: #FEE url(../../Aqua/images/common/invalid-line.gif) repeat-x 50% 100%;
border-color: #F77;
}
/*只读时文本框*/
.l-text-disabled
{
    border-color:#DADADA;
    background:#FFFFFF url('../images/ui/inputdisabled.gif') repeat-x top;
} 
.l-text-disabled .l-text-field{
	background:none; color:#E9E5ED;
}
/* 编辑状态 */
.l-text-editing
{
     
}

/* 表单文本框 input:text */
.l-text-field
{
    position:absolute; top:0px; left:0px; background:#FFFFFF url('../images/ui/input.gif') repeat-x top;
    width:110px; height:18px; line-height:18px;
    border:0; margin:0; outline:none; color:#333333; 
}
/* 表单文本框 内容为空时 */
.l-text-field-null
{ color:#C1C1C1;
}
/* 下拉框/日期/调整器 右侧那个可点击的区域 分别是普通、经过、按住状态 */
.l-trigger,.l-trigger-hover,.l-trigger-pressed
{
    top:0px;right:0px;
    width:16px;height:100%; 
}
.l-trigger
{ 
    border:0px;border-left:1px solid #B9B9B9; 
    background:#D1D1D1 url('../images/ui/trigger.gif') repeat-x 0px 0px;
}
.l-trigger-hover
{
    border:0px;border-left:1px solid #B9B9B9; 
    background:#CCCCCC url('../images/ui/trigger.gif') repeat-x 0px -20px;
}
.l-trigger-pressed
{
    border:0px;border-left:1px solid #B9B9B9; 
    background:#C8C8C8 url('../images/ui/trigger.gif') repeat-x 0px -40px;

}
/* 下拉框/日期 右侧那个可点击的区域里面的图标 */
.l-trigger-icon
{	width:100%;
	height:100%;
    background:url('../images/ui/icon-down.gif') no-repeat 50% 50%;
}
/* -------------
  * 调整器 *
* ------------- */
.l-spinner-up .l-spinner-icon,.l-spinner-down .l-spinner-icon{overflow: hidden;position: absolute;left: 0px;top: 50%;margin-top: -3px;width: 100%;height: 6px;background: no-repeat center top;}
.l-spinner-down-over,.l-spinner-up-over{background:#CCCCCC url('../images/ui/trigger.gif') repeat-x 0px -20px;}
.l-spinner-up .l-spinner-icon{background-image: url(../images/ui/icon-up.gif);}
.l-spinner-down .l-spinner-icon{background-image: url(../images/ui/icon-down.gif);}
.l-spinner-up,.l-spinner-down {width: 100%;height: 50%;overflow: hidden;display: block;position: absolute;left: 0px;top: 0px;}
.l-spinner-down{top: 50%;}
.l-spinner-split{overflow: hidden;width: 13px;height: 1px;position: absolute;left: 1px;top: 50%;z-index: 10;background: #B5B8C8;   }

/* -------------
   * 验证 *
* ------------- */
.l-verify-star { color:Red;}

/* -------------
  * 下拉框 *
* ------------- */
.l-box-select-grid{border-bottom:1px solid #A3C0E8;border-right:1px solid #A3C0E8;}
.l-box-select-grid thead td,.l-box-select-grid tr.l-table-headerow td{ 
background:#F0F0F0; 
}
.l-box-select-grid td{padding:0;margin:0;height:22px; line-height:22px; border-left:1px solid #A3C0E8;border-top:1px solid #A3C0E8; }
 
.l-box-select
{
    display:none;
    position:absolute; padding:0px;  
    border:1px solid #D0D0D0; background:white;
    width:130px; height:120px;
    margin-top:1px;
    z-index:9300; font-size:12px; line-height:18px;
}
.l-box-select-absolute
{
    margin-top:0px;
}
.l-box-select-inner{ margin:0; padding:0; width:100%;overflow:auto; height:100%;color:#333;}
.l-box-select-inner .l-box-select-table{margin:0; padding:0; width:100%; }
.l-box-select .l-table-nocheckbox td:hover,.l-box-select .l-table-nocheckbox td.l-over{ background-color:#E7EDF8; cursor:pointer;}
.l-box-select .l-table-nocheckbox td.l-selected{ background-color:#DFE8F6;}
.l-box-select .l-box-select-table td{ padding:2px; text-align:left;} 
/* -------------
    * 复选框 *
* ------------- */
 
/* -------------
    * 单选框 *
* ------------- */
 
/* -----------------------
   *   日期控件 *
* ----------------------- */
.l-box-dateeditor {
background: white;
border: 1px solid #6681B0;
}
 .l-box-dateeditor-header
{
     background:#173167;   
}
.l-box-dateeditor-header-text a {
color:White;
cursor: pointer;
text-decoration: none;
}



.l-box-dateeditor-header-btn
{
     background-image: url(../images/ui/dateeditor-btn.gif); background-repeat:no-repeat;
}
.l-box-dateeditor-header-btn-over
{ 
    background-image: url(../images/ui/dateeditor-btn-over.gif);
}
.l-box-dateeditor-header-btn
{
     top:4px;width:15px; height:15px;position:absolute; cursor:pointer;
}
.l-box-dateeditor-header-btn span
{
     width:100%; height:100%; display:block; position:absolute; top:0px; left:0px;
}
.l-box-dateeditor-header-prevmonth{left:24px; background-position:-15px 0px; }
.l-box-dateeditor-header-prevmonth span{background:none;}
.l-box-dateeditor-header-nextmonth{background-position:-30px 0px;}
.l-box-dateeditor-header-nextmonth span{background: none;}

.l-box-dateeditor-header-prevyear{left:4px; background-position:0px 0px;}
.l-box-dateeditor-header-prevyear span{background:none;}
.l-box-dateeditor-header-nextyear{ right:4px;background-position:-45px 0px;}
.l-box-dateeditor-header-nextyear span{background:none;}
 

.l-box-dateeditor-body {
border:none; 
}
.l-box-dateeditor-body thead td {
border-bottom: 1px solid #9AB3D5; background:#C1D4EB url(../images/ui/dateeditor-thead.gif) repeat-x top;
}
.l-box-dateeditor-body tbody td.l-box-dateeditor-today
{background-color: #CCE3FE; }
.l-box-dateeditor-body tbody td.l-box-dateeditor-over,.l-box-dateeditor-body tbody td.l-box-dateeditor-selected
 { background-color: #DDECFE; }

.l-box-dateeditor-monthselector li:hover,.l-box-dateeditor-monthselector li.l-selected,.l-box-dateeditor-monthselector li.l-over,.l-box-dateeditor-yearselector li:hover,.l-box-dateeditor-yearselector li.l-selected,.l-box-dateeditor-yearselector li.l-over,.l-box-dateeditor-hourselector li:hover,.l-box-dateeditor-hourselector li.l-selected,.l-box-dateeditor-hourselector li.l-over,.l-box-dateeditor-minuteselector li:hover,.l-box-dateeditor-minuteselector li.l-selected,.l-box-dateeditor-minuteselector li.l-over
{background-color: #DDECFE;border: solid 1px #8DB2E3;}


.l-box-dateeditor-toolbar {
background:#C1D4EB url(../images/ui/dateeditor-bar.gif) repeat-x top;
height: 31px; border-top:1px solid #9AB3D5;
padding-left: 10px;
position: relative;
text-align: right;
width: 100%;
}
 
/* -----------------------
   *   验证 *
* ----------------------- */
 