package org.openkoala.sample

import org.openkoala.sample.rule.Sale;
declare Sale
   @role(event)
   @timestap(date)
end
/**
rule "Compulsive Buyer"

    when
        $s:Sale($c:customer) from entry-point StoreOne
        Sale(this before[1ms,1h] $s,customer==$c) from entry-point StoreOne
    then
        System.out.println("Customer: "+$s.getCustomer() + "is a Compulsive Buyer")

end
rule "Regular Buyer"
    when
        $s:Sale($c:customer) from entry-point StoreOne
        Sale(this after[1h,10h] $s,customer==$c) from entry-point StoreOne
         
    then
        System.out.println("Customer: "+$s.getCustomer() + "is a Regular Buyer")

end

rule "Lazy Buyer"
    when
        $s:Sale($c:customer) from entry-point StoreOne and
        Sale(this after[10h] $s,customer==$c) from entry-point StoreOne
         
    then
        System.out.println("Customer: "+$s.getCustomer() + "is a Lazy Buyer")

end
**/
rule "RegularTime" 
when 
	$personAtWork : PersonAtWork() from entry-point "Onsite" 
	PersonAtWork(this before [0ms, 8h]  $personAtWork) from entry-point "Onsite" 
then 
	System.out.println($personAtWork.getName() + " is now getting regular (1x) rate ...");
 	$personAtWork.setRate(1); 
end 

rule "OverTime" 
when 
	$personAtWork : PersonAtWork() from entry-point "Onsite" 
	PersonAtWork(this after [8h, 12h] $personAtWork) from entry-point "Onsite" 
then 
	System.out.println($personAtWork.getName() + " is now getting overtime (1.5x) rate ...");
 	$personAtWork.setRate(1.5); 
end 
