<?xml version="1.0" encoding="UTF-8"?> 
<process xmlns="http://drools.org/drools-5.0/process"
         xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
         xs:schemaLocation="http://drools.org/drools-5.0/process drools-processes-5.0.xsd"
         type="RuleFlow" name="flow" >

  <header>
  </header>

  <nodes>
    <start id="1" name="Start" x="66" y="98" width="48" height="48" />
    <ruleSet id="2" name="Rule" x="191" y="192" width="80" height="48" ruleFlowGroup="" />
    <end id="3" name="End" x="350" y="362" width="48" height="48" />
  </nodes>

  <connections>
    <connection from="1" to="2" />
    <connection from="2" to="3" />
  </connections>

</process>