package org.openkoala.sample

import org.openkoala.sample.rule.Sale;

declare Sale
   @role(event)
end

rule "StoreOne - Sales Record"

    when
        Number($totalSalesAmount : intValue,intValue > 1000)
        from accumulate(Sale($amount : amount,$quantity : quantity) from entry-point StoreOne,sum(@amount*$quantity))
    then
        System.out.println("StoreOne - Has passed its Sales Record")

end

rule "StoreTwo - Sales Record"
    when
        Number($totalSalesAmount : intValue ,intValue > 1000)
        from accumulate(Sale($amount : amount,$quantity : quantity) from entry-point StoreTwo,sum($amount*$quantity))
    then
        System.out.println("StoreTwo - Has passed its Sales Record")
end
