<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsf/html" prefix="h"%>
<%@ taglib uri="http://java.sun.com/jsf/core" prefix="f"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>OpenKoala Framework</h2>
	<f:view>
		<h:form>
			<h:commandLink value="test link" action="#{indexBean.getAccountMoney}">
				<f:param id="id" name="name" value="accountName" />
			</h:commandLink>
		</h:form>
	</f:view>
</body>
</html>