<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "-://log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r %d{dd/MM HH:mm:ss,SSS}[%t] %-5p %c{3}.%M %x - %m%n" />
		</layout>
	</appender>
	<!-- 输出到日志文件 每天一个日志 -->
	<!-- <appender name="filelog_daily" class="org.apache.log4j.DailyRollingFileAppender"> 
		<param name="File" value="daily.log" /> <param name="Threshold" value="INFO"/> 
		<param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" /> <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] 
		(%c:%L) - %m%n" /> </layout> </appender> -->

	<!-- sql 日志 -->
	<appender name="sql" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="sql.log" />
		<param name="DatePattern" value="'sql.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />
		</layout>
	</appender>

	<!-- <logger name="org.jbpm"> <level value="INFO" /> <appender-ref ref="filelog_daily" 
		/> </logger> -->


	<!-- <logger name="java.sql.Connection">
		<level value="DEBUG" />
		<appender-ref ref="sql" />
	</logger>
	<logger name="java.sql.Statement">
		<level value="DEBUG" />
		<appender-ref ref="sql" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="DEBUG" />
		<appender-ref ref="sql" />
	</logger> -->
	
	<!--  输出SQL -->
	<logger name="org.hibernate.SQL">
		<level value="DEBUG" />
		<appender-ref ref="sql" />
	</logger>
	<!-- 输出SQL参数 -->
	<logger name="org.hibernate.type">
		<level value="TRACE" />
		<appender-ref ref="sql" />
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder">
		<level value="TRACE" />
		<appender-ref ref="sql" />
	</logger>

	<logger name="com.test">
		<level value="DEBUG" />
	</logger>

	<root>
		<param name="level" value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>