a {
    outline: none!important;
}
.center {
    text-align: center;
}
/*
头部导航栏
 */
.g-head {
    background-color: #428BCA;
}
.g-head .navbar {
    margin: 0;
    padding: 0;
    border-left-width: 0;
    background-color: #428BCA;
}
.g-head .navbar-brand,
.g-head .navbar-brand:hover,
.g-head .navbar-brand:focus {
    color: #FFFFFF;
    font-size: 1.2em;
}
.g-head .navbar-brand img {
    height: 40px;
    width: 60px;
    margin-right: 10px;
}
.g-head .btn-group {
    display: none;
}
.g-head:after, .g-body:after {
    clear: both;
}
/*
左边菜单栏
*/
.g-sidec {
    position: relative;
    margin: 0;
    padding: 0 0 0 1px;
    min-height: 540px;
    border-right: 1px solid #DDDDDD;
    background-color: #ffffff;
    transition: width 0.4 ease-in-out;
}
.g-sidec > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    border-style: solid none;
    border-width: 1px 0;
    border-color: #FCFCFC #999999 #E5E5E5;
}

.g-sidec > ul > li.active > a {
    color: #428BCA;
    background-color: #FFFFFF!important;
}
.g-sidec > ul > li > a {
    background-color: #F9F9F9!important;
    color: #838383;
    padding: 10px 0 11px 2px;
    font-size: 17.5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    outline: none;
}
.g-sidec > ul > li > a:hover,
.g-sidec > ul > li.active > a:hover, .g-sidec > ul > li.active > a:focus {
    color: #428BCA;
    background-color: #FFFFFF;
}
.g-sidec > ul > li > a > span {
    padding-left: 18px;
}
.g-sidec > ul > li > a > span:last-child {
    padding-left: 38px;
}
.g-sidec .submenu:before {
    position: absolute;
    left: 25px;
    bottom: 0;
    top: 0;
    display: block;
    z-index: 1;
    content: "";
    border-left: 1px dotted #a0baff;

}
.g-sidec .submenu {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none outside none;
    background-color: #FFFFFF;
}
.g-sidec .submenu  > li  {
    margin-left: 0;
    position: relative;
}
.g-sidec .submenu > li > a {
    display: block;
    color: #838383;
    border-top: 1px dotted #a0baff;
    margin: 0;
    outline: medium none;
    padding: 9px 0 10px 37px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16.5px;
    position: relative;
    text-decoration: none;
}
.g-sidec .submenu > li > a:hover,  .g-sidec .submenu > li > a:focus, .g-sidec .submenu > li.active > a{
    cursor: pointer;
    color: #428BCA;
}
.g-sidec .submenu > li.active > a {
   background-color: #f8f8f8;
}
.g-sidec .submenu > li.active:after {
    position: relative;
    float: right;
    top: -42px ;
    content: "";
    width: 3px;
    height: 42px;
    background-color: #269abc;
}
/*
内容页
*/
.g-mainc {
    padding-top: 2px;
}
.g-mainc:after {
    clear: both;
}

.g-mainc > ul > li > a {
    outline: none;
    color: #464646;
    border-color: #DDDDDD;
    padding: 6px 15px;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: -moz-linear-gradient(bottom, #FFFFFF, #f5f5f5);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF, #f5f5f5);
    background-image: -o-linear-gradient(bottom, #FFFFFF, #f5f5f5);
    background-image: -ms-linear-gradient(bottom, #FFFFFF, #f5f5f5);
    background-image: linear-gradient(bottom, #FFFFFF, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#f5f5f5', GradientType=0)
}
.g-mainc > ul > li > a:hover, .g-mainc > ul > li > a:focus,
.g-mainc > ul > li.active > a{
    color: #3391d8!important;
    border-bottom-color: #FFFFFF!important;
    background-image: -moz-linear-gradient(bottom, #FFFFFF, #f9f9f9);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF, #f9f9f9);
    background-image: -o-linear-gradient(bottom, #FFFFFF, #f9f9f9);
    background-image: -ms-linear-gradient(bottom, #FFFFFF, #f9f9f9);
    background-image: linear-gradient(bottom, #FFFFFF, #f9f9f9);
}
.g-mainc > .tab-content {
    margin-top: 10px;
}
.g-mainc > .tab-content > div > .jumbotron {
    background-color: #ffffff;
    margin-left:  100px;
}
/*
底部样式
*/
.g-foot {
    clear: both;
    padding: 10px;
    border-top: 1px solid #999999;
    font-size: 1.6em;
    text-align: center;
}
.g-foot > img {
    position: relative;
    top: -5px;
    display: inline-block;
    padding-left: 5px;
    height: 40px;
}


.generalQuery .form-inline {
    padding-bottom: 5px;
}
.generalQuery .form-inline .form-group {
    margin-left: 25px;
}
.generalQuery .form-inline .form-group .control-label {
    margin-right: 5px;
}
.generalQuery  .required {
    position: relative;
    top: 4px;
    margin-left: 3px;
    color: red;
}
.generalQuery .form-inline .form-group .btn-group .queryName {
    display: inline;
    width: 200px;
}
.generalQuery .table {
    border-width: 0;
    text-align: center;
}
.generalQuery .table th {
    text-align: center;
}
.generalQuery  a {
    cursor: pointer!important;
}
.generalQuery  .panel {
    margin-top: 5px;
    margin-bottom: 0;
}
.generalQuery  .table .panel {
    padding: 0;
    margin: 0;
}
.generalQuery  .table .table-value .required {
    color:red;
    position: relative;
    top: 6px;
    margin-left: 2px;
}
.select .dropdown-menu {
    text-align: left!important;
}
.generalQuery .buttons {
    margin: 10px;
    text-align: center;
}
.generalQuery .buttons .btn {
    margin-right: 10px;
    font-size: 14px;
}
.generalQuery  .table td .form-control {
    display: inline!important;
    width: 95%;
}
.general-query-dialog {
    padding-top: 65px;
    width: 80%!important;
}
.general-query-dialog .modal-body {
    overflow-y: auto;
    max-height: 450px;
}
.general-query-dialog .grid-table-head table tr th:last-child,
.general-query-dialog .grid-table-body table tr td:last-child{
    border-right-width: 0!important;
}
.general-query-dialog .grid-table-body {
    height: 180px;
    min-height: 180px;;
    overflow-y: auto;
    overflow-x: hidden;
}
.general-query-dialog  .visibility .checker {
    margin: 0 15px 0 0;
}
.generalQuery  .panel > table {
    table-layout: fixed;
}
.staticQuerySelected table , .dynamicQuerySelected table , .showColumnSelected table {
    table-layout: auto;
}

.staticQuerySelected table td , .dynamicQuerySelected table td , .showColumnSelected table td {
    padding: 2px!important;
}
.query-condition  .column-name {
    width: 60%;
}
.query-condition  .operation {
    width: 40%;
    padding-left: 12px;
    text-align: left !important;
}
.staticQuerySelected  .column-name {
    width: 25%;
}
.staticQuerySelected .query-operation {
    width: 15%;
}
.staticQuerySelected .value {
    width: 35%;
}
.staticQuerySelected .visibility {
    width: 12%;
}
.staticQuerySelected .delete-btn {
    width: 15%;
}
.dynamicQuerySelected  .column-name {
    width: 25%;
}
.dynamicQuerySelected .show-label {
    width: 30%;
}
.dynamicQuerySelected .widgetType {
    width: 15%;
}
.dynamicQuerySelected .query-operation {
    width: 20%;
}
.dynamicQuerySelected .delete-btn {
    width: 15%;
}
.showColumnSelected .column-name {
    width: 40%;
}
.showColumnSelected .show-label {
    width: 40%;
}
.showColumnSelected .delete-btn {
    width: 40%;
}

.dataSource {
    padding-top: 60px;
}
.dataSource  input {
    width: 300px;
}
.dataSource .modal-body {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}
.dataSource .modal-body .help-block {
    display: none;
    font-weight: normal;
    margin-bottom: 0;
}
.dataSource .modal-footer {
    margin-top: 0;
}
.dataSource  .col-lg-9 > input,  .dataSource .col-lg-9 > span {
    display: inline;
}
.dataSource .col-lg-9 > span {
    position: relative;
    top: 3px;
    margin-left: 5px;
    color: red;
}

.query {
    width: 65%;
    padding: 15px 15px 0;
}
.query .query-body {
    float: left;
    width: 45%;
}
.query .query-body table {
    margin-bottom: 5px;
}
.query .buttons {
    float: left;
    left: 15px;
    position: relative;
}
.query .query-body table td {
    vertical-align: middle!important;
    border: 0 solid transparent!important;
    padding: 2px;
}

.previewQuery .column-name {
    padding: 0 10px !important;
    width: 20%;
}
.previewQuery .query-condition {
    padding: 0 10px !important;
    width: 20%;
}
.previewQuery .query-value {
    width: 60%;
}
.previewQuery .query-value > div {
    float: left;
    vertical-align: middle;
}
.previewQuery .query-value .span {
    position: relative;
    padding: 4px;
}
.previewQuery input {
    padding-top: 0;
    padding-bottom: 0;
    width: 193px!important;
}
.dynamicQueryCondition td {
    padding: 2px!important;
}
.previewGrid {
    clear: both;
    padding: 0 15px;
}
.previewGrid .grid-table-body {
    height: 385px;
}