<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>${Project.appName}-web</display-name>

	<!-- Character Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	   #if ($Module.security)
    <!-- ss3过滤器链 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/jcaptcha.jpg</url-pattern>
	</servlet-mapping>
	
   #end


	<!-- Spring Listener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/root.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.dayatang.spring.webapp.DayatangContextLoaderListener</listener-class>
	</listener>
	
	   
	
#if ($Module.monitor)
	<!-- monitor config begin-->
     <listener>
		<listener-class>org.openkoala.koala.monitor.core.KoalaMonitorListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>monitor-config</param-name>
		<param-value>WEB-INF/monitor/koala-monitor.xml</param-value>
	</context-param>

	<filter>
		<filter-name>PageDetectFilter</filter-name>
		<filter-class>org.openkoala.koala.monitor.component.http.DetectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageDetectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- monitor config end -->
#end
	
	<!--组织子系统的listener-->
#if ($Module.organization)
	<listener>
		<listener-class>${Module.basePackage}.controller.organization.OrganisationListener</listener-class>
	</listener>
#end

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

   #if ($Project.mvcProtocol == "Struts2MVC")
	<!-- 加入struts2的支持 -->
	<filter>
		<filter-name>action2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>action2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    #end
    
    #if($Project.mvcProtocol == "SpringMVC" || $Module.security || $Module.monitor || $Module.generalQuery)
    	<!-- 加入SpringMVC -->
	 <servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:koala-spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	  <servlet-mapping>
	  	<servlet-name>spring</servlet-name>
	  	<url-pattern>*.koala</url-pattern>
	  </servlet-mapping>
    #end
    
#if ($Module.security)
    <servlet>
		<servlet-name>DBInit</servlet-name>
		<servlet-class>org.openkoala.koala.dbinit.SecurityDBInit</servlet-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>${Project.mvcProtocol}</param-value>
		</init-param>
		#if ($Module.organization)
		<init-param>
			<param-name>organization</param-name>
			<param-value>true</param-value>
		</init-param>
		#end
	</servlet>

	<servlet-mapping>
		<servlet-name>DBInit</servlet-name>
		<url-pattern>/dbinit</url-pattern>
	</servlet-mapping>
 #end   
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>/security.jsp</welcome-file>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<distributable />
</web-app>
