package org.openkoala.sample.mq.topic;

import javax.jms.Connection;
import javax.jms.ConnectionFactory;
import javax.jms.Destination;
import javax.jms.JMSException;
import javax.jms.Message;
import javax.jms.MessageProducer;
import javax.jms.Session;
import javax.jms.TextMessage;

import org.apache.activemq.ActiveMQConnectionFactory;

public class TopicPublisher {

	// protected static String brokerURL =
	// "failover:(tcp://localhost:61616,tcp://localhost:61616)";
	protected static String brokerURL = "tcp://localhost:61616";
	protected static transient ConnectionFactory factory;
	protected transient Connection connection;
	protected transient Session session;
	protected transient MessageProducer producer;

	private static int count = 10;
	private static int total;
	private static int id = 1000000;

	public TopicPublisher() throws JMSException {
		factory = new ActiveMQConnectionFactory(brokerURL);
		connection = factory.createConnection();
		connection.start();
		session = connection.createSession(false, Session.AUTO_ACKNOWLEDGE);
		producer = session.createProducer(null);
	}

	public void close() throws JMSException {
		if (connection != null) {
			connection.close();
		}
	}

	public static void main(String[] args) throws JMSException {
		TopicPublisher publisher = new TopicPublisher();
		while (total < 10) {
			for (int i = 0; i < count; i++) {
				publisher.sendMessage(args);
			}
			total += count;
			System.out.println("Published '" + count + "' of '" + total
					+ "' price messages");
			try {
				Thread.sleep(1000);
			} catch (InterruptedException x) {
			}
		}
		publisher.close();
	}

	protected void sendMessage(String[] stocks) throws JMSException {
		Destination destination = session.createTopic("TOPIC.chencao");
		Message message = session.createTextMessage("" + id++);
		System.out.println("Sending: id: " + ((TextMessage) message).getText()
				+ " on destination: " + destination);
		producer.send(destination, message);
	}

}
