package org.openkoala.sample.mq.topic;

import javax.jms.Connection;
import javax.jms.ConnectionFactory;
import javax.jms.JMSException;
import javax.jms.MessageConsumer;
import javax.jms.Session;
import javax.jms.Topic;

import org.apache.activemq.ActiveMQConnectionFactory;

public class TopicDurableConsumerA {

	private static String brokerURL = "tcp://localhost:61616";
	private static transient ConnectionFactory factory;
	private transient Connection connection;
	private transient Session session;

	public TopicDurableConsumerA() throws JMSException {
		factory = new ActiveMQConnectionFactory(brokerURL);
		connection = factory.createConnection();
		connection.setClientID("chencao-client-01");
		connection.start();
		// 这里设置CLIENT_ACKNOWLEDGE
		session = connection.createSession(false, Session.CLIENT_ACKNOWLEDGE);
	}

	public void close() throws JMSException {
		if (connection != null) {
			connection.close();
		}
	}

	public static void main(String[] args) throws JMSException {
		TopicDurableConsumerA consumer = new TopicDurableConsumerA();
		// Destination destination = consumer.getSession().createTopic(
		// "TOPIC.chencao");
		Topic topic = consumer.getSession().createTopic("TOPIC.chencao");
		MessageConsumer messageConsumer = consumer.getSession()
				.createDurableSubscriber(topic, "xx?");
		messageConsumer.setMessageListener(new AckListener());

	}

	public Session getSession() {
		return session;
	}

}
