<?xml version="1.0" encoding="UTF-8"?>

<ModuleRemove>
	<!-- 指定此功能的名称 -->
	<property name="funType">springMVC</property>
	<property name="files">
		<value>src/main/java/org/openkoala/springmvc/IndexController.java</value>
		<value>src/main/webapp/WEB-INF/jsp/index.jsp</value>
		<value>src/main/webapp/WEB-INF/jsp/query.jsp</value>
		<value>src/main/webapp/WEB-INF/spring-servlet.xml</value>
	</property>
</ModuleRemove>