<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:drools="http://drools.org/schema/drools-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://drools.org/schema/drools-spring
		http://drools.org/schema/drools-spring-1.5.0.xsd"
    default-autowire="byName" default-lazy-init="true">
	<drools:kbase id="kbase">
		<drools:resources>
		</drools:resources>
	</drools:kbase>	
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="org.jbpm.persistence.local" />
	</bean>

	<bean id="btmConfig" factory-method="getConfiguration"
		class="bitronix.tm.TransactionManagerServices">
	</bean>
	<bean id="BitronixTransactionManager" factory-method="getTransactionManager"
		class="bitronix.tm.TransactionManagerServices" />
	<bean id="jbpmTxManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager" ref="BitronixTransactionManager" />
		<property name="userTransaction" ref="BitronixTransactionManager" />
	</bean>

	<!-- 配置人工流程服务 -->
	<bean id="systemEventListener" class="org.drools.SystemEventListenerFactory"  factory-method="getSystemEventListener" />
	<bean id="internalTaskService" class="org.jbpm.task.service.TaskService">
 		<property name="systemEventListener" ref="systemEventListener" />
	</bean>

	<bean id="htTxManager"	class="org.drools.container.spring.beans.persistence.HumanTaskSpringTransactionManager">
		<constructor-arg ref="jbpmTxManager" />
	</bean>
	<bean id="springTaskSessionFactory"	 class="org.jbpm.task.service.persistence.TaskSessionSpringFactoryImpl" init-method="initialize" depends-on="internalTaskService">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="transactionManager" ref="htTxManager" />
		<property name="useJTA" value="true" />
		<property name="taskService" ref="internalTaskService" />
	</bean>
	<bean id="localTaskService" class="org.jbpm.task.service.local.LocalTaskService" depends-on="internalTaskService">
		<constructor-arg ref="internalTaskService" />
	</bean>
	
	<bean id="humanTaskHandler" class="org.openkoala.jbpm.applicationImpl.util.KoalaWSHumanTaskHandler" init-method="connect" depends-on="ksession">
		<constructor-arg  ref="ksession" />
		<constructor-arg ref="localTaskService" />
	</bean>
	
	<!-- 创建会话 -->
	<drools:ksession id="ksession" type="stateful" kbase="kbase">
		<drools:configuration>
			<drools:jpa-persistence>
				<drools:transaction-manager ref="jbpmTxManager" />
				<drools:entity-manager-factory ref="entityManagerFactory" />
			</drools:jpa-persistence>
		</drools:configuration>
	</drools:ksession>
	<bean id="jbpmSupport" class="org.openkoala.jbpm.applicationImpl.util.JbpmSupport">
		<constructor-arg ref="entityManagerFactory" />
		<constructor-arg ref="kbase" />
		<constructor-arg ref="ksession" />
		<constructor-arg ref="internalTaskService" />
		<constructor-arg ref="localTaskService" />
		<constructor-arg ref="humanTaskHandler" />
	</bean>
</beans>