package ${package};

import java.util.Date;
import java.sql.Timestamp;
import java.util.List;

import javax.persistence.Id;
import javax.persistence.Lob;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Table;
import javax.persistence.FetchType;
import javax.persistence.OneToMany;
import com.dayatang.domain.AbstractEntity;
import java.io.Serializable;

/**
 * Auto Generated Entity
 * 
 * @author Koala 
 * 
 */
@Entity
@Table(name="${tableName}")
public class ${EntityName} extends AbstractEntity {


#foreach ($column in $Columns)

  @Column(name="$column.columnName")
  #if($column.dataType==2004 || $column.dataType==2005)
   @Lob
  #end
  private $column.type $column.name;
  
#end

#foreach ($column in $Columns)
  
  #set($propertyName = ${column.name.substring(0, 1).toUpperCase()} + ${column.name.substring(1)})
  
  public $column.type get${propertyName}() {
		return $column.name;
  }
  
  public void set${propertyName}($column.type $column.name) {
		this.$column.name = $column.name;
  }
  
#end

	public int hashCode(){
	  	final int prime = 31;
		int result = 1;
		result = prime * result
				+ ((getId() == 0) ? 0 : getId().hashCode());
		#foreach ($column in $Columns)
		#if ($column.type=="int" || $column.type=="long" || $column.type=="short" || $column.type=="float" || $column.type=="double")
		  
		  result = prime * result
				+ ((this.$column.name == 0) ? 0 : (int)this.${column.name});
		  
		#else
		
		  result = prime * result
				+ ((this.$column.name == null) ? 0 : this.${column.name}.hashCode());
		
		#end
		#end
		return result;
	}

	public boolean equals(Object other){
	   //TODO your must todo it yourself
	   return false; 
	}
	
	public String toString(){
	   //TODO your must todo it yourself
	   return null;
	}
}